<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cr.ac.tec.ceap" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Words.MainWords"
            android:label="@string/title_activity_main_words"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cr.ac.tec.ceap.MainActivity" />
        </activity>
        <activity
            android:name=".Animals.MainAnimals"
            android:label="@string/title_activity_main_animals"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cr.ac.tec.ceap.MainActivity" />
        </activity>
        <activity
            android:name=".Animals.MainAnimalsLevel1"
            android:label="@string/title_activity_main_animals_level1"
            android:parentActivityName=".Animals.MainAnimals" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cr.ac.tec.ceap.Animals.MainAnimals" />
        </activity>
        <activity
            android:name=".Animals.MainAnimalsLevel2"
            android:label="@string/title_activity_main_animals_level2"
            android:parentActivityName=".Animals.MainAnimals" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cr.ac.tec.ceap.Animals.MainAnimals" />
        </activity>
        <activity
            android:name=".Animals.AnimalSounds"
            android:label="@string/title_activity_animal_sounds"
            android:parentActivityName=".Animals.MainAnimals" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cr.ac.tec.ceap.Animals.MainAnimals" />
        </activity>
        <activity
            android:name=".Words.WordSounds"
            android:label="@string/title_activity_word_sounds"
            android:parentActivityName=".Words.MainWords" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cr.ac.tec.ceap.Words.MainWords" />
        </activity>
        <activity
            android:name=".Words.JWordSound"
            android:label="@string/title_activity_jword_sound" >
        </activity>
        <activity
            android:name=".Words.DWordSound"
            android:label="@string/title_activity_dword_sound" >
        </activity>
        <activity
            android:name=".Words.GWordSound"
            android:label="@string/title_activity_gword_sound" >
        </activity>
        <activity
            android:name=".Words.KWordSound"
            android:label="@string/title_activity_kword_sound" >
        </activity>
        <activity
            android:name=".Words.LWordSound"
            android:label="@string/title_activity_lword_sound" >
        </activity>
        <activity
            android:name=".Words.RWordSound"
            android:label="@string/title_activity_rword_sound" >
        </activity>
        <activity
            android:name=".Words.SWordSound"
            android:label="@string/title_activity_sword_sound" >
        </activity>
        <activity
            android:name=".Words.MainWordsLevel1"
            android:label="@string/title_activity_main_words_level1" >
        </activity>
        <activity
            android:name=".Words.MainWordsLevel2"
            android:label="@string/title_activity_main_words_level2" >
        </activity>
        <activity
            android:name=".Menu.MainMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_menu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cr.ac.tec.ceap.MainActivity" />
        </activity>
    </application>

</manifest>
